{
  "importOrder": [
    "^.*.css",
    "<THIRD_PARTY_MODULES>",
    "^@recallnet/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./packages/ui/src/styles/globals.css",
  "tailwindFunctions": ["cn", "clsx", "cva"]
}
